* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.appContainer {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.boards {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 25vw;
}

.list {
    padding: 10px;
    min-height: 50px;
}

.list__items {
    padding: 10px;
    margin: 10px;
    border: 2px lightgrey solid;
    border-radius: 10px;
    cursor: grab;
}

.dragging {
    opacity: 10%;
}

.copy {
    opacity: 60%;
    border-style: dashed;
}

.hide {
    display: none;
}